@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply p-0 m-0 text-primary bg-bg;
  }
  li {
    @apply bg-[#fffa] rounded-full;
  }
  li > a {
    @apply flex flex-row justify-center items-center gap-2 p-4;
  }
  a > button {
    @apply border-[1.5px] border-primary rounded-lg w-[120px] h-[30px] my-0 mx-[2px] hover:bg-bg hover:text-primary flex items-center justify-center gap-2;
  }
}

/* 
@media (max-width: 980px) {
  .members-list {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
  }
}
*/
